@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

/* A-Frame CSS */
.a-loader-title {
  color: black;
  font-family: monospace;
}

#btn-container {
  position: fixed;
  top: 50px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#continue-btn {
  background-color: firebrick;
  color: honeydew;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  border: none;
}

#continue-btn:hover {
  background-color: indianred;
  color:rgb(0, 0, 0);
}
