@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

/* A-Frame CSS */
.a-loader-title {
  color: black;
  font-family: monospace;
}

#btn-container {
  position: fixed;
  bottom: 70px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#continue-btn {
  display: inline-block;
  padding: 0.1em 1em;
  border: 0.05em solid rgb(31, 31, 31);
  margin: 0 0.1em 0.1em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: rgb(31, 31, 31);
  text-align: center;
  transition: all 0.05s;
}

#continue-btn:hover {
  color: #dddddd;
  border: 0em;
  background-color: rgb(31, 31, 31);
}

#continue-btn:active {
  color: rgb(31, 31, 31);
  border: 0.01em;
  background-color: rgb(255, 255, 255);
}
